<div class="navbar bg-base-100">
  <div class="flex-none">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path>
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSdWty_JyemMwJhbSuaSXv1GLM8InBKxF3-saYsMS4q1zeWQ1g/viewform?usp=header', target: '_blank' %></li>
      </ul>
    </div>
  </div>

  <div class="flex-1">
    <%= link_to "Weather maple", root_path, class: "btn btn-ghost text-xl" %>
  </div>

  <div class="flex-none">
    <div class="dropdown dropdown-left">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><%= link_to "利用規約", terms_path %></li>
      </ul>
    </div>
  </div>
</div>